.tooltip {
  --backgroundColor: rgba(0, 0, 0, 0.7);
  --transformFrom: translate(-50%, 5px);
  --transformTo: translate(-50%, -3px);
  position: absolute;
  padding: var(--s2);
  border-radius: var(--bRadius1);
  background-color: var(--backgroundColor);
  color: #fff;
  white-space: nowrap;
  animation: tooltipFade 0.25s ease-in-out forwards;
}

@keyframes tooltipFade {
  from {
    opacity: 0;
    transform: var(--transformFrom);
  }
  to {
    opacity: 1;
    transform: var(--transformTo);
  }
}

.tooltip::after {
  content: "";
  position: absolute;
  border-width: 6px;
  border-style: solid;
  border-color: var(--backgroundColor) transparent transparent;
}

.tooltip--top {
  top: -35px;
  left: 50%;
}

.tooltip--top::after {
  top: 99%;
  left: 50%;
}
